.images {
    width: 100%;
    margin: 0;
    padding: 64px 48px 0;
    box-sizing: border-box;
}


@media screen and (min-width: 992px) and (max-width: 1200px){
    .images {
        padding: 92px 48px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .images {
        padding: 88px 24px 0;
    }
}

@media screen and (max-width: 767px){
    .images {
        padding: 64px 16px 0;
    }
}