.header__lang-link {
    text-decoration: none;
    color: #FFFFFF;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
      line-height: 20px;
      font-size: 18px;
    }
  }