.page {
  font-family: "Inter", "Arial", sans-serif;
  background:#2A2C2F;
  text-rendering: optimizeLegibility;
  padding: 0;
  max-width: 1184px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}



