.places{
    max-width: 960px;
    padding-top: 92px;
    margin: 0 auto;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .places {
        max-width: 960px;
        padding-top: 99px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .places {
        padding-top: 88px;
        max-width: 720px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .places {
        padding: 88px 24px 0;
        max-width: 100%;
    }
}


