/*.images__wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(284 px, 1fr));
    grid-template-rows: 1fr;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;

    /*display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: 1fr;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}


@media screen and (min-width: 993px) and (max-width: 1200px){
    .images__wrapper {
        grid-template: repeat(3, 225px) / repeat(3, minmax(267px, auto));
        grid-auto-rows: min-content 1fr;
    }
}


@media screen and (min-width: 769px) and (max-width: 992px){
    .images__wrapper {
        grid-template: repeat(3, 164px) / repeat(3, minmax(215px, auto));
        grid-auto-rows: minmax(215px, auto);
        padding: 0 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .images__wrapper {
        grid-template: repeat(2, 288px) / repeat(2, minmax(288px, auto));
        grid-auto-rows: minmax(158px, auto);
        padding:  0 24px;
        justify-items: stretch;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .images__wrapper {
        grid-template-columns: repeat(3, minmax(284 px, 1fr));
        /*grid-template-columns: 1fr;
        padding:  0 16px;
        column-gap: 12px;
        gap: 12px;
    }
}*/


.images__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284 px, 1fr));
    grid-template-rows: 1fr;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}


@media screen and (min-width: 993px) and (max-width: 1200px){
    .images__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(300 px, 1fr));
        grid-auto-rows: min-content 1fr;
    }
}


@media screen and (min-width: 761px) and (max-width: 992px){
    .images__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(352 px, 1fr));
        padding: 0 24px;
    }
}


@media screen and (min-width: 320px) and (max-width: 760px){
    .images__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(288 px, 1fr));
        padding:  0 16px;
        gap: 12px;
    }
}
