
.images__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}


@media screen and (min-width: 992px) and (max-width: 1200px){
    .images__wrapper {
        gap: 14px;
    }
}


@media screen and (min-width: 768px) and (max-width: 991px){
    .images__wrapper {
        gap: 16px;
    }
}


@media screen and (max-width: 767px){
    .images__wrapper {
        gap: 12px;
    }
}
