/* 1280, 1024, 768 */
.footer__links {
    margin: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    
  }
  
  @media screen and (max-width: 480px) {
    .footer__links {
      flex-direction: column;
      padding-bottom: 48px;
      text-align: left;
      padding-left: 16px;
      
      
    }
  }

  @media screen and (max-width: 768px) {
    .footer__links {
      max-width: 720px;
    }
  }
