 .cover {
    /*
     margin-top: 92px;
     max-width: 1184px;
     width: 100%;
     padding-top: calc(100% * 640 / 1024);
     position: relative;
     box-sizing: border-box;*/

     margin-top: 92px;
     max-width: 1184px;
     width: 100%;
     padding-top: calc(100% * 640 / 1024);
     box-sizing: border-box;
     position: relative;

 }


 
 @media screen and (min-width: 320px) and (max-width: 767px) {
     .cover {
         margin-top: 66px;
     }
 }
